body{
    background-color: #ffffff;
}

h1{
    font-size: 50px; 
    /* color: rgb(85, 15, 85); */
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 15px;
}

img{
    /* width: 400;
    height: 225px; */
    image-rendering: auto; 

} 

img:hover {
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
}

p{
    font-size: 20px; 
    /* color: rgb(85, 15, 85); */
    font-family: 'Lato', sans-serif;
    text-align: center;
}

footer{
    font-size: 12px; 
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 50px;


}

.nav{
    background-color: #000000;
}

.nav a{
    display: block;
    background-color: #ffffff;
    color: #000000;
    font-size: 20px; 
    text-align: center;
}

.nav a:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
}

